  <link rel="stylesheet" href="/cart.css">
  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:3000/"><img src="https://r69.cooltext.com/rendered/cooltext403120763092173.png" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Electronics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#recyclerView">Jewelery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Men's Clothing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Women's Clothing</a>
            </li>
          </ul>
        </div>
      </nav>
      <a class="cart-a-tag"  href="cart.html"><h2 class="cart-container"><ion-icon class="cart-icon" name="cart-outline"></ion-icon></h2></a>
    </div>
  </section>

    <!-- Image and Price and Add -->

    <section id="recyclerView">
      <div class="recyclerView-container">
        <div class="row" id="recyclerView-row">

          <div class="col-lg-5 col-md-6">
              <div class="filter-card rcard">
                <div class="rec-img-cont">
                <div class="rec-img"><img src="https://fakestoreapi.com/img/71z3kpMAYsL._AC_UY879_.jpg" alt="">
                </div>
                </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-5">
              <div class="filter-card rcard">
                <h2 class="rec-h2">MBJ Women's Solid Short Sleeve Boat Neck V</h2>
                <div class="price-n-pref">
                  <div class="preference">
                    <label for="quantity">Quantity</label>
                    <input type="text" name="quantity" id="quant-input" placeholder="2">
                </div>
                  <h2 class="price">£19.98</h2>
                </div>
                <h2 class="remove">remove item</h2>
              </div>
          </div>

          <div class="col-lg-5 col-md-6">
            <div class="filter-card rcard">
              <div class="rec-img-cont">
              <div class="rec-img"><img src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="">
              </div>
              </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-5">
            <div class="filter-card rcard">
              <h2 class="rec-h2">White Gold Plated Princess</h2>
              <div class="price-n-pref">
                <div class="preference">
                  <label for="quantity">Quantity</label>
                  <input type="text" name="quantity" id="quant-input" placeholder="1">
              </div>
                <h2 class="price">£27.97</h2>
              </div>
              <h2 class="remove">remove item</h2>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="filter-card rcard">
            <div class="price-n-pref">
              <h2 class="price">Total</h2>
              <h2 class="price">£47.95</h2>
            </div>
            <div class="btn-cont">
              <button type="button" class="btn btn-outline-dark btn-lg checkout-btn">Checkout</button>
            </div>
          </div>
      </div>


        </div>
      </div>
  </section>
