<link rel="stylesheet" href="./style.css" />
<section id="title">
  <div class="container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg">
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href=""><img
          src="/logo1.png"
          alt=""
        /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/electronics">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jewelery">Jewelery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/men%27s%20clothing">Men's Clothing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/women%27s%20clothing">Women's Clothing</a>
          </li>
        </ul>
      </div>
    </nav>
    <a class="cart-a-tag" href="http://localhost:3000/cart"><h2
        class="cart-container"
      ><ion-icon class="cart-icon" name="cart-outline"></ion-icon></h2></a>
  </div>

</section>

<!-- RecyclerView -->

<section id="recyclerView">
  <div class="recyclerView-container">
    <div class="row" id="recyclerView-row">

      {{#each items}}
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="/item/{{this.id}}">
            <div class="filter-card rcard">
              <div class="rec-img-cont">
                <div class="rec-img"><img src="{{this.image}}" alt="" /></div>
              </div>
              <h2 class="rec-h2">{{this.title}}</h2>
              <h2 class="rec-h2">{{this.price}}</h2>
            </div>
          </a>
        </div>
      {{/each}}

    </div>
  </div>
</section>
<script src="./index.js" type="text/javascript"></script>